@import "vars";

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 18px;
	color: $text;
	font-family: 'KoHo', sans-serif;
	overflow-x: hidden;
	background-color: $bg;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

input:focus, input:active,
button:focus, button:active,
textarea:focus, textarea:active {
	outline: none;
}

button {
	border: none;
}

ul, ol {
	list-style: none;
	padding: 0;
}

a {
	color: $accent;
	text-decoration: none;
	transition: all .3s ease-out;
	&:hover {
		text-decoration: underline;
	}
}

input, textarea {
	padding: 18px 27px;
	color: #606060;
	border: none;
}

.btn {
	display: inline-block;
	color: #fff;
	//background-color: $blue;
	border-radius: 40px;
	transition: all 0.3s ease-out;
	&:hover {
		color: #fff;
		//background-color: $darkblue;
		text-decoration: none;
	}
}

.title {
	font-size: 36px;
	//text-align: center;
	color: #363636;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1240px;
}


/*.wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: -15px;
}
.block {
	//width: 270px;
	//padding: 40px 50px;
	//background-color: red;
	//margin: 15px;
}*/

@mixin wrapper($offset) {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: -$offset;
}

.wrapper2 {
	@include wrapper(15px)
}